html {
  font-family: var(--bs-font-sans-serif);
  background-color: black;
}

::-webkit-scrollbar {
  display: none;
}

.router {
  background-color: white;
}

.layout {
  background-color: white;
  padding-left: 500px;
}